h2{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
li:nth-child(odd){
    background-color: lightcoral;
    color: darkred;
}
li:nth-child(even){
    background-color: lightblue;
    color: blue;
}

.div-hp{
    padding: 0 !important;
    text-align:center;
}

.barra-hp{
    padding: 0 !important;
    color: white;
    background-color: red;
}

.barra-hp-interna{
    padding: 0 !important;
    height: 50px;
    background-color: #0ecd00;
    transition: width 1.5s;
}

.div-container{
    box-shadow: 0px 2px 5px 0px #777;
}

.div-listas{
    margin-top:20px;
}

.div-botoes-acao{
    float:none;
    margin: 0 auto;
}